<link href="/css/styleSettings.css" rel="stylesheet" type="text/css">
<% include header.ejs %>
<div class="container2">
    <div class='content'>
        <div class='welcome'><h1>❤Добро пожаловать в настройки <%= typeof name != 'undefined' ? ', ' + user.name : '' %>
                !❤️
                Здесь вы сможете настроить новинки по своим предпочтениям!📽🎞️</h1></div>
        <div class='input-fields'>
            <form method="post" action="/account/settings">
                <% include partials/messages.ejs %>
                <label for="favGenre">Список любимых жанров:</label>
                <datalist id="favGenreDatalist"></datalist>
                    <ul id="favGenresList">
                        <li>
                            <input
                                    id="favGenre"
                                    name="favGenre"
                                    list="favGenreDatalist"
                                    placeholder="Начните вводить жанр..."
                                    class='input-line full-width'
                                    onfocus="getGenres()"
                                    onchange="addNewRow()"
                                    value="<%= typeof favGenre != 'undefined' ? favGenre : '' %>"
                            />
                        </li>
                    </ul>
                <label for="favActors">Список любимых актёров:</label>
                <datalist id="favActorsDatalist"></datalist>
                <ul id="favActorsList">
                    <li>
                        <input
                                id="favActors"
                                name="favActors"
                                list="favActors"
                                placeholder="Начните вводить имя актёра..."
                                oninput="searchActors(value)"
                                class='input-line full-width'
                                value="<%= typeof favActors != 'undefined' ? favActors : '' %>"
                        />
                    </li>
                </ul>
                <label for="countries">Список стран производителей:</label>
                <datalist id="countriesDatalist"></datalist>
                <ul id="countriesList">
                    <li>
                        <input
                                id="countries"
                                name="countries"
                                list="countries"
                                placeholder="Начните вводить страну..."
                                class='input-line full-width'
                                value="<%= typeof countries != 'undefined' ? countries : '' %>"
                        />
                    </li>
                </ul>
                <label for="minRating">Минимальный рейтинг фильма/сериала(по 10 балльной шкале):</label>
                <input
                        id="minRating"
                        name="minRating"
                        list="minRating"
                        placeholder="Введите рейтинг"
                        class='input-line full-width'
                        value="<%= typeof minRating != 'undefined' ? minRating : '' %>"
                />
                <div class="button">
                    <input type="submit" value="Сохранить" class="ghost-round full-width">
                </div>
            </form>
        </div>
    </div>
</div>