<link href="/css/styleSettings.css" rel="stylesheet" type="text/css">
<% include header.ejs %>
<div class="container2">
    <div class='content'>
        <div class='welcome'><h1 class="welcome-text">❤Добро пожаловать в
                настройки <%= typeof user.name != 'undefined' ? ', ' + user.name : '' %>
                !❤<br/>Здесь вы сможете настроить новинки по своим предпочтениям!📽🎞️</h1></div>
        <div class="inputs">
            <div class='input-field'>
            <form method="post" action="/account/settings">
                <% include partials/messages.ejs %>
                <label for="favGenres">Список любимых жанров:</label>
                <datalist id="favGenreDatalist"></datalist>
                    <ul id="favGenresList">
                        <li>
                            <input
                                    id="favGenres"
                                    name="favGenres"
                                    list="favGenreDatalist"
                                    placeholder="Начните вводить жанр..."
                                    class='input-line full-width'
                                    onfocus="getGenres()"
                                    onchange="addNewRowGenres()"
                                    value="<%= typeof favGenres != 'undefined' ? favGenres : '' %>"
                            />
                        </li>
                    </ul>
                <datalist id="favActorsDatalist"></datalist>
                    <label for="favActors">Список любимых актёров:</label>
                    <ul id="favActorsList">
                        <li>
                            <input
                                    id="favActors"
                                    name="favActors"
                                    list="favActorsDatalist"
                                    placeholder="Начните вводить актёра..."
                                    class='input-line full-width'
                                    oninput="searchActors(value)"
                                    onchange="addNewRowActors()"
                                    value="<%= typeof favActors != 'undefined' ? favActors : '' %>"
                            />
                        </li>
                    </ul>
                    <label for="minRating">Минимальный рейтинг фильма/сериала(по 10 балльной шкале):</label>
                    <input
                            id="minRating"
                            name="minRating"
                            placeholder="Введите рейтинг"
                            class='input-line full-width'
                            value="<%= typeof minRating != 'undefined' ? minRating : '' %>"
                    />
                    <div class="button">
                        <input type="submit" value="Сохранить" class="ghost-round full-width">
                    </div>
                </form>
            </div>

            <div class='input-field'>
                <div class="title_form"><h1>Ваши настройки:</h1></div>
                <label>Любимые жанры:</label>
                <ul>
                    <% if(typeof user.favGenres !== "undefined") { %>
                        <% user.favGenres.forEach((genre) => { %>
                            <li>
                                <div class='input-line full-width' style="text-align: left">
                                    <%= genre %>
                                </div>
                            </li>
                        <% }); %>
                    <% } else { %>
                        <li>
                            <div class='input-line full-width' style="text-align: left">
                                Не указаны
                            </div>
                        </li>
                    <% } %>
                </ul>
                <label>Любимые актёры</label>
                <ul>
                    <% if(typeof user.favActors !== "undefined") { %>
                        <% user.favActors.forEach((actor) => { %>
                            <li>
                                <div class='input-line full-width' style="text-align: left">
                                    <%= actor %>
                                </div>
                            </li>
                        <% }); %>
                    <% } else { %>
                        <li>
                            <div class='input-line full-width' style="text-align: left">
                                Не указаны
                            </div>
                        </li>
                    <% } %>
                </ul>
                <label>Минимальный рейтинг фильма/сериала(по 10 балльной шкале)</label>
                <% if(user.minRating !== null) { %>
                    <div class ='input-line full-width' style="text-align: left">
                        <%= user.minRating %>
                    </div>
                <% } else { %>
                    <div class ='input-line full-width' style="text-align: left">
                        Не указан
                    </div>
                <% } %>
                <form method="post" action="/account/settings/reset">
                    <div class="button">
                        <input type="submit" value="Сбросить настройки" class="ghost-round full-width">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>